extends ../template/layout/layout

block title
	title First page

block content
	.container
		h1 Content first page
		a(href="about.html") Lint to about
		img(src="assets/img/preview.jpg", alt="", class="img-responsive" srcset="")