@import './../_mixin';
@import './../vars';
.container
  width: 80%
  margin: 0 10%
  @include desktop
     width: 1140px
     margin: 0
  @include laptop
    width: 970px
    margin: 0
  @include tablet
    width: 720px
    margin: 0
  @include phone
    width: 576px
    margin: 0
  @include small-phone
    width: 100%
    margin: 0
*
  box-sizing: border-box
  &:focus
    outline: none

::placeholder
  font-size: 15px;
  line-height: 14px;
  color: #A5A5A5;

html, body
  // height: 100%

body
  min-width: 320px
  font-size: 16px
  line-height: 1.65
  font-family: $default-font

.wrapper
  display: flex
  flex-direction: column
  height: 100%
  position: relative
  // overflow-x: hidden
  text-align: center

main
  flex: 1 0 auto

footer
  flex: 0 0 auto

.img-responsive
	display: block
	max-width: 100%
	height: auto
  object-fit: cover
	&.img-width
		width: 100%

ul 
	padding: 0
	li 
		list-style: none

a
	text-decoration: none

.d-flex
  display: flex
.align-items-center
  align-items: center
.justify-content-between
  justify-content: space-between
.justify-content-center
  justify-content: center
.flex-wrap
  flex-wrap: wrap
.m-auto
  margin: auto
.d-none 
  display: none
.h1
  font-weight: bold
  font-size: 44px
  line-height: 46px
.h3
  font-weight: bold
  font-size: 40px
  line-height: 40px
.h4
  font-weight: bold
  font-size: 18px
  line-height: 17px

.text-left
  text-align: left
.text-center
  text-align: center

.white
  color: $white
.dark
  color: $black
.accent
  color: $accent
.bg-dart
  background-color: $black

.main
  background-image: url(../img/gb-home.jpg)
  background-repeat: no-repeat
  background-size: cover
  max-height: 650px
  height: 100%

.home
  margin-top: 50px
  .subtitle
    font-size: 24px
    line-height: 26px

.btn
  background: linear-gradient(262.67deg, #FFC200 0%, #FFD829 99.04%)
  border-radius: 45px
  border: none
  border-bottom: 2px solid #DDA800
  font-size: 16px
  padding: 16px 20px 13px
  cursor: pointer
  box-shadow: 0px 4px 20px rgba(255, 216, 41, 0.45)
  &:active 
    border-bottom: 0
    margin-bottom: 2px

header
  padding-top: 10px


.social
  display: flex
  &-item
    margin: 0 6px
  &-link
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%
    background-color: $background
    width: 24px
    height: 24px
    &:hover
      opacity: 0.9
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25)
    img 
      width: 12px
.quiz
  .text
    display: block
    margin-left: 15px

.section
  &-video
    padding: 30px 0
    .title
      font-weight: bold
      font-size: 30px
      line-height: 29px
      margin: 20px 0
  &-money
    position: relative
    &:before
      content: ''
      position: absolute
      z-index: 1
      left: 0
      top: 50%
      transform: translate(0, -50%)
      width: 100%
      height: 330px
      background-image: url(../img/yellow-bg.svg)
      background-size: contain
      background-repeat: no-repeat
    .money-block
      position: relative
      z-index: 2
    .text
      margin-top: 30px
      font-size: 20px;
      line-height: 24px;
  &-features
    padding: 20px 0
    .feature
      margin: 20px auto
      width: 100%
      max-width: 900px
      &-item 
        width: 100%
        max-width: 360px
        background: $background
        box-shadow: 0px 4px 10px rgba(255, 214, 36, 0.35);
        border-radius: 10px;
        margin: 16px
        padding: 30px 20px
      .text
        font-size: 18px;
        line-height: 24px;
      span
        color: $accent
        font-weight: bold;
    .block-gift
      .title
        font-weight: bold;
        font-size: 30px;
        line-height: 29px;
        margin-right: 30px
        span
          color: $accent
  &-security
    padding: 40px 0
    .subtitle
      font-size: 16px;
      line-height: 24px;
      margin-top: 30px
    .security
      background-image: url(../img/bg-security.svg)
      background-repeat: no-repeat
      padding: 40px 0
      background-size: contain
      background-position: top center
      margin: 20px 10px
      &-list
        width: 100%
        max-width: 960px
        margin: auto
      &-item 
        padding: 30px 20px 30px 60px  
        background-color: $white
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        margin-bottom: 15px
        position: relative
        &:before
          content: ''
          position: absolute
          left: 15px
          top: 30%
          width: 30px
          height: 18px
          background-image: url('../img/icons/ok.svg')
  &-tools
    padding: 60px 0
  &-work
    padding: 30px 0
  &-about
    position: relative
    padding: 100px 0 80px
    &:before
      content: ''
      position: absolute
      z-index: 1
      left: 0
      top: 50%
      transform: translate(0, -50%)
      width: 50%
      height: 330px
      background-image: url(../img/yellow-bg.svg)
      background-size: cover
      background-repeat: no-repeat 
      background-position: 100% 0

.about-us
  position: relative
  z-index: 2
  .left
    width: 50%
    .text
      margin-top: 30px
      font-size: 20px;
      line-height: 24px;
  .right
    width: 50%
    .list-title
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    .part
      margin-left: 12%
      margin-top: 25px
      &-item
        position: relative
        padding-left: 40px
        margin-bottom: 25px
        span
          position: absolute
          left: 0
          width: 30px
          height: 30px
          border-radius: 100%
          color: $black
          display: flex
          align-items: center
          justify-content: center
          background: linear-gradient(180deg, #FFD624 0%, #FFC200 100%);
          box-shadow: 0px 4px 6px rgba(255, 214, 36, 0.35);
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

.tools
  margin: 40px 0
  .tool
    background-repeat: no-repeat 
    background-size: cover
    width: 100%
    max-width: 450px
    height: 260px
    background: #1E1E1E;
    box-shadow: 0px 0px 8px rgba(255, 214, 36, 0.35);
    border-radius: 5px;
    margin: 0 15px
    &.left
      background-image: url('../img/bg-tool-left.png')
    &.right
      background-image: url('../img/bg-tool-right.png')
  .title
    font-weight: bold;
    font-size: 24px;
    line-height: 24px
  &-list
    padding: 20px
  &-item 
    font-size: 16px;
    line-height: 24px
    span
      font-weight: bold

.steps
  margin: 40px 0
  .step
    .image
      margin-bottom: 10px
    .text
      font-size: 18px;
      line-height: 24px;



.block-special
  margin-top: 20px
  .title
    font-size: 24px
    line-height: 24px
    margin-bottom: 30px
  span 
    font-weight: bold
    font-size: 30px
    line-height: 29px

.block-mail
  width: 100%
  max-width: 945px
  margin: 20px auto
  background: $background
  border: 1px solid $accent
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px
  .text
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
  .link
    margin-left: 20px

.form
  display: block
  width: 100%
  max-width: 420px
  background: $background
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 2px solid $accent
  padding: 30px 0 20px
  fieldset
    border: none
  input
    background: #FFFFFF;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 45px;
    padding: 18px 16px
    display: block
    width: 100%
    margin: 0 auto 5px
    color: $black
  .title
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    margin-bottom: 10px
    span
      font-weight: 400
  .submit
    display: block
    width: 100%
    box-shadow: none
    font-size: 18px;
    line-height: 17px;
    background: linear-gradient(359.44deg, #FFD624 1.9%, #FFC200 95.36%);
  .policy
    font-size: 12px;
    color: #A5A5A5
    line-height: 14px
    padding: 0 10px

.quiz-modal
  .form
    max-width: 750px
    padding: 30px 30px 20px
  .header
    padding: 10px 0 20px
    border-bottom: 1px solid #777777
  .title
    font-size: 20px;
    margin: 0
  fieldset
    margin: 30px 0
    .question
      font-size: 18px;
      line-height: 17px;
      text-align: left
      margin-bottom: 20px
  .arrows
    width: 100%
    button
      border: none
      background: transparent
      cursor: pointer
      &:hover
        svg path
          fill: $accent
          fill-opacity: 1

[type="radio"]:checked,
[type="radio"]:not(:checked)
  position: absolute
  left: -9999px

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 15px;
  display: block;
  text-align: left
  color: #fff;

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after
  content: '';
  width: 12px;
  height: 12px;
  background: $accent
  position: absolute;
  top: calc(50% - 9px/2)
  left: 3.4px
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

[type="radio"]:not(:checked) + label:after
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);

[type="radio"]:checked + label:after
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)

.modal
  display: none

.modal.is-open
  display: block
footer
  border-top: 1px solid #5E5E5E
  background: linear-gradient(0, #323131 -0.4%, #171717 99.33%);
  padding: 20px 0 30px